
<%= link_to root_path do %>
   <%= image_tag "image.png", width: 400,class: "img-responsive center-block" %>
<% end %>

<div class="center jumbotron">
  <h1>About Us</h1>
  <p> As a student in university, juggling many courses concurrently and working with multiple tabs—sometimes even different browsers for website compatibility—and bookmarks on my browser, having this student hub is extremely convenient. Omnis (deriving from “All-in-one” in Albanian) allows students to log in to their accounts and add the courses they are currently taking while linking the website(s) to them. This gives space for easy multitasking and instead of juggling between Coursys, SFU Canvas, and other websites created by professors, having a “homepage” that grants quick access to all of these is essential. <br>  Designing this web application so it is inclusive to students from all fields is a vital goal of ours and we hope to make students lives easier by creating this application. Moreover, the basic concept of Omnis is that a student will sign up and sign in with their credentials and be prompted to the “homepage” where student's add the courses of their term. We also have access to the SFU Twitter to alert students with important messages for their convenience.
  </p>

  <h1>Frequently Asked Questions</h1>
  <ol>
	<li>Can we delete courses that we don&rsquo;t need anymore?<br />
	<p>Yes, you can choose to add and delete courses to your convenience.</p>
	</li>
	<li><strong>Can I save links related to a course?</strong>
	<p>You can save links to your course website, any online resource that is used by this course and even links to study guides.</p>
	</li>
	<li><strong>Is this an SFU service?</strong>
	<p>This is a set of tools developed by SFU students independently to help with SFU ecosystem and studying process.</p>
	</li>
  </ol>
  <p><strong>&nbsp;</strong></p>

</div>

