

<%= link_to root_path do %>
   <%= image_tag "image.png", width: 400,class: "img-responsive center-block" %>
<% end %>

<div class="center jumbotron">
  <h1>Welcome to Omnis</h1>

  <h2>
    This is the home page for the SFU Students Portal!
  </h2>

  <%= link_to "Sign In", login_path, class: "btn btn-lg btn-primary" %>

  <h4>
 	<%= link_to "Create An Account", signup_path %>

</h4>
</div>


