<h1>Hello Heroku works :)</h1>
<html>
  <head>
    <script src="jquery.js"></script>
    <script>
    $(function(){
      $("#includedContent").load("calendar.html.erb");
    });
    </script>
  </head>

  <body>
     <div id="includedContent"></div>
  </body>
</html>
