<div class="row">
  <aside class="col-md-4">
    <section class="side">
	<% content_for(:sidebar) do %>
		<%= render :partial => "layouts/sidebar" %>
	<% end %>
    </section>
  </aside>
</div>
<% content_for(:sidebar) do %>
	<%= render :partial => "layouts/sidebar" %>
<% end %>

<%= @user.name %>, <%= @user.email %>