

<% if logged_in? %>
<div class ="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li class="sidebar_courses"><%= link_to "Courses", mycourses_path %>
		</li>
		<li class="sidebar_courses"><%= link_to "Calendar", "#" %>
		</li>
		<li class="sidebar_courses"><%= link_to "SFU Twitter", SFUtwitter_path %>
		</li>

<% end %>